@import url(http://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,300);
@import "posts";
 html {
	 	height: 100%
 }
	body {
		padding: 1em 4em;
		background: #f5f5f7;
		color: #4a4a53;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: black;
		clear: both;
	}
	.img{
		display: block;
		margin: 0 auto;
		width: 500px;
		clear: both;
	}
	.title{
		clear:both;
		text-transform: uppercase;
		text-align: center;
		color: white;
		font-family: Arial;
		font-size: 40px;
	}
	.address{
		text-transform: uppercase;
		color: white;
		font-family: Arial;
		float: left;
	}
	.phone{
		clear: both;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-family: Arial;
	}
	#map-canvas {
		height: 250px;
		width: 500px;
		display: block;
		margin: 0 auto;
	}
