.img{
	display: block;
	margin: 0 auto;
	width: 500px;
}
body{
	background-color: black;
}
.title{
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 40px;
}
 html {
 	height: 100%
 }
 body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
 }
 #map-canvas {
 	height: 100%;
 }